<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </div>
  </div>
</nav>


<div class="container-fluid">


<div class="jumbotron">

    <div class="button-container text-center">

        <a class="newRacesBtn btn btn-dark" href="/results/scrape">Find New Races</a>

        <a class="removeRacesBtn btn btn-dark" href="/clear">Remove Races</a>

    </div>

</div>

</div>


<div class="card-container container">

    {{#each races}}

    <div class="card col-3">
    
    <p class="race">{{race}}</p>

    <p class="date">{{date}} | {{location}} </p>
     {{!-- <p class="location">{{location}}</p> --}}
    <p class="raceDesc">{{raceDescription}}</p>

    <a class="saveBtn btn btn-outline-info" href="/save">Save</a>

    
   
    <div class="row">
  <a class="redirectLink btn btn-outline-success" href="https://www.runningintheusa.com/{{redirectLink}}">More info</a>
    <a class="googleMaps btn btn-outline-warning" href="{{googleMapsLink}}">Google Maps</a>
    </div>

  
    
    </div>

     {{/each}}

</div>

   <script src="https://use.fontawesome.com/6207dd8341.js"></script>