<nav class="navbar navbar-expand-lg navbar-light bg-light">




    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="/saved">Saved Races</a>


        </div>
    </div>
</nav>


<div class="jumbotron">


</div>


<div class="card-container container">


        {{#each races}}
        {{#if saved}}

        <div class="card savedCard col-3">

     <div class="text-center add-comment">

                <button data-id="{{id}}"  type="button" data-toggle="modal" data-target="#noteModal" data-id="{{id}}" data-saved="{{saved}}" class="addComment btn btn-light-secondary"> <i class="fas fa-edit"> </i>Notes</button> 

                 

            </div>
            <a data-id="{{id}}" data-saved="{{saved}}" class="removeRaceBtn btn btn-light-secondary" href="/save"> <i class="fas fa-trash"></i> </a>

   

            <p class="race">{{race}}</p>

            <p class="date">{{date}} | {{location}} </p>

            <p class="raceDesc">{{raceDescription}}</p>

            {{!-- <a data-id="{{id}}" data-saved="{{saved}}" class="unSaveBtn btn btn-outline-danger" href="/save">Remove</a> --}}

            <div class="row">
                <a class="redirectLink btn btn-outline-success"
                    href="https://www.runningintheusa.com/{{redirectLink}}">More info</a>
                <a class="googleMaps btn btn-outline-warning" href="{{googleMapsLink}}">Google Maps</a>


            </div>

       
        

        </div>



        {{/if}}

        {{/each}}

    </div>


</div>

<div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Race notes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <label for="noteTextArea">Notes</label>
    <textarea class="form-control" id="noteTextArea" rows="3"></textarea>

        <div class="appendNoteArea"></div>

      </div>
      <div class="modal-footer">
    
        <button data-dismiss="modal" type="button" class="btn saveNoteBtn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

