<nav class="navbar navbar-expand-lg navbar-light bg-light">




  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="/saved">Saved Races</a>


    </div>
  </div>
</nav>


<div class="jumbotron">


</div>


<div class="card-container container">

    {{#each races}}
    {{#if saved}}

    <div class="card col-3">
    
    <p class="race">{{race}}</p>

    <p class="date">{{date}} | {{location}} </p>
   
    <p class="raceDesc">{{raceDescription}}</p>

    <a data-id="{{id}}" data-saved="{{saved}}" class="unSaveBtn btn btn-outline-danger" href="/save">Unsave</a>
   
    <div class="row">
  <a class="redirectLink btn btn-outline-success" href="https://www.runningintheusa.com/{{redirectLink}}">More info</a>
    <a class="googleMaps btn btn-outline-warning" href="{{googleMapsLink}}">Google Maps</a>
    </div>

  
    
    </div>

    {{/if}}

     {{/each}}

</div>
